@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-access-btn-1:not(:root){
	padding: 0;
	.smb-btn{
		min-width: 128px;
		padding: 8px 10px;
		border: solid 1px #000;
		background-color: transparent;
		&__label{
			color: #000;
			font-size: 12px;
			padding-left: 1.5em;
			position: relative;
			&::before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 18px;
				width: 14px;
				background-size: 14px 18px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 8.38693C15 13.1709 8.52764 18.5879 8.03518 18.5879C7.54271 18.5879 1 13.2412 1 8.38693C1 4.30653 3.88442 1 7.96482 1C12.0452 1 15 4.30653 15 8.38693Z" stroke="black" stroke-miterlimit="10"/><path d="M7.96493 11.4826C9.98535 11.4826 11.6232 9.84473 11.6232 7.82431C11.6232 5.80389 9.98535 4.16602 7.96493 4.16602C5.94451 4.16602 4.30664 5.80389 4.30664 7.82431C4.30664 9.84473 5.94451 11.4826 7.96493 11.4826Z" stroke="black" stroke-miterlimit="10"/></svg>');
			}
		}
		&:hover{
			background-color: #000;
			.smb-btn__label{
				color: #fff;
				&::before{
					background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 8.38693C15 13.1709 8.52764 18.5879 8.03518 18.5879C7.54271 18.5879 1 13.2412 1 8.38693C1 4.30653 3.88442 1 7.96482 1C12.0452 1 15 4.30653 15 8.38693Z" stroke="white" stroke-miterlimit="10"/><path d="M7.96493 11.4826C9.98535 11.4826 11.6232 9.84473 11.6232 7.82431C11.6232 5.80389 9.98535 4.16602 7.96493 4.16602C5.94451 4.16602 4.30664 5.80389 4.30664 7.82431C4.30664 9.84473 5.94451 11.4826 7.96493 11.4826Z" stroke="white" stroke-miterlimit="10"/></svg>');
				}
			}
		}
	}
}