@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-contact-mail-1{
	padding-left: 104px;
	position: relative;
	line-height: 1.8;
	max-width: 100%;
	word-break: break-all;
	&::before{
		content: "";
		width: 24px;
		height: 22px;
		position: absolute;
		top: 1em;
		left: 0;
		background-image: url('data:image/svg+xml;utf-8,<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.428711 0.428711L12.0001 12.0001L23.5716 0.428711" stroke="white"/><rect x="0.5" y="0.5" width="23" height="17" stroke="white"/></svg>');
		background-repeat: no-repeat;
		background-position: center;
		transform: translateY(-50%);
	}
	&::after{
		content: "";
		height: 1px;
		width: 64px;
		background-color: #CFCFCF;
		position: absolute;
		top: 1em;
		left: 32px;
		transform: translateY(-50%);
	}
}