@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-information-2{
	.smb-information__item:not(:first-child){
		margin-top: 0;
	}
	.smb-information__item + .smb-information__item{
		margin-top: 18px;
	}
	.smb-information__item__label{
		font-size: 16px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&::after{
			content: "";
			width: 64px;
			height: 1px;
			margin-left: 8px;
			background-color: #CFCFCF;
		}
	}
	@include mq(sm) {
		.c-row__col--md-1-4{
			flex: 0 1 120px;
			max-width: 120px;
		}
		.c-row__col--md-3-4{
			flex: 0 1 calc(100% - 120px);
			max-width: calc(100% - 120px);
		}
		.smb-information__item + .smb-information__item{
			margin-top: 0;
		}
		.smb-information__item__label{
			justify-content: space-around;
		}
	}
}