@charset 'utf-8';

@import '../../../../src/css/block-styles';

.is-style-RJE-contact-tel-1{
	padding-left: 104px;
	position: relative;
	line-height: 1.8;
	max-width: 100%;
	word-break: break-all;
	&::before{
		content: "";
		width: 24px;
		height: 22px;
		position: absolute;
		top: 1em;
		left: 0;
		background-image: url('data:image/svg+xml;utf-8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.89112 1.42495C2.89112 1.42495 4.01194 0.0550645 6.19129 2.23442C7.56118 3.6043 8.86879 4.91192 7.93478 5.84593C7.00077 6.77994 6.19129 8.08755 6.5649 9.45744C6.7517 10.1424 7.06304 11.0764 8.99332 13.0067C10.9236 14.937 11.9822 15.2483 12.5426 15.4351C13.7879 15.8087 15.2201 14.9992 16.1541 14.0652C17.0881 13.1312 18.3957 14.4388 19.7656 15.8087C21.9449 17.9881 20.5751 19.1089 20.5751 19.1089C17.3994 22.2845 11.6086 21.5996 6.00449 15.9955C0.400428 10.3914 -0.284513 4.60058 2.89112 1.42495Z" stroke="white" stroke-miterlimit="10"/></svg>');
		background-repeat: no-repeat;
		background-position: center;
		transform: translateY(-50%);
	}
	&::after{
		content: "";
		height: 1px;
		width: 64px;
		background-color: #CFCFCF;
		position: absolute;
		top: 1em;
		left: 32px;
		transform: translateY(-50%);
	}
}